name: JMeter Index
#Runs on pushes to dev and main
on:
  push:
    branches:
      - dev
      - main


jobs:
  performance-test:
    strategy:
      matrix:
      #Creates a matrix of 3 os.
        os: [ubuntu-latest, macos-latest, windows-latest ]   
    #github hosts a vm and test on all 3 os
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JMeter
        run: |  #Installs JMeter on each os as they have different commands
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            choco install jmeter
          elif [[ "${{ runner.os }}" == "macOS" ]]; then
            brew install jmeter
          else
            sudo apt install jmeter
          fi


      - name: Run JMeter performance test
        uses: apache/actions/jmeter@v1
        with:
          testPlan: testIndexPage.jmx
          #Customisable Conc Users and duration of test within the workflow
          concurrentUsers: 100             
          duration: 10

      - name: Upload JMeter test results
        uses: actions/upload-artifact@v3
        with:
          name: jmeter-test-results
          path: jmeter-results.csv
